<a href="https://colab.research.google.com/github/dpediredla/python101/blob/main/A10_exploring_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

;# Lists

# New Section

* https://www.w3schools.com/python/python_ref_list.asp  (Python List Methods)
* https://www.w3schools.com/python/python_ref_functions.asp (Python Built-in Functions)

In [5]:
#@title Lists: An Introduction

#Data Type
#List Type
list_1 = [10, 20, 30.0, -40,"Fifty", False]
print("Print the list",list_1)

print("Print the Type", type(list_1))

Print the list [10, 20, 30.0, -40, 'Fifty', False]
Print the Type <class 'list'>

In [7]:
#@title 1.Creating an empty list
list_2 = []
print("Print the empty List",list_2)

Print the empty List []

In [8]:
#@title 2.Creating a list with some elements
list_3 = [98,104,117,130]
print("Print the List",list_3)

Print the List [98, 104, 117, 130]

In [11]:
#@title 3.Adding elements at the end

list_4 = [10,20,30,40]
print("Print the List",list_4)
list_4.append(50)
list_4.append("Dhruv")
print("Print the new List",list_4)

Print the List [10, 20, 30, 40]
Print the new List [10, 20, 30, 40, 50, 'Dhruv']

In [15]:
#@title 4.Accessing an element (positive index)
# also known as "Reading an element"
# also known as "Setting an element"

list_5 = [10,20,30,40,50,"Dhruv",70,80]
print("Print the List",list_5)
first = list_5[0]
print("Print the first element",first)
six = list_5[5]
print("Print the sixth element",six)

Print the List [10, 20, 30, 40, 50, 'Dhruv', 70, 80]
Print the first element 10
Print the sixth element Dhruv

In [17]:
#@title 5.Accessing an element (through Negative Indexing)
# also known as "Reading an element"
# also known as "Setting an element"

list_6 = [10,20,30,40,50,"Dhruv",70,80,90,100,110,120,130,140,150,"pole",160,170,180,"star"]
print("Print the List",list_6)
last = list_6[-1]
print("Print the last element:",last)
fifth_from_last = list_6[-5]
print("Print the fifth_from_last element:",fifth_from_last)

Print the List [10, 20, 30, 40, 50, 'Dhruv', 70, 80, 90, 100, 110, 120, 130, 140, 150, 'pole', 160, 170, 180, 'star']
Print the last element: star
Print the fifth_from_last element: pole

In [22]:
#@title 6.Adding an element at the front of the list

list_7 = ["Dhruv","pole","star"]
print("Print the List",list_7)

#Add numbers in the front of the list
list_7.insert(0,10)
print("Print the List",list_7)
list_7.insert(0,0)
print("Print the List:",list_7)

Print the List ['Dhruv', 'pole', 'star']
Print the List [10, 'Dhruv', 'pole', 'star']
Print the List: [0, 10, 'Dhruv', 'pole', 'star']

In [21]:
#@title 7.Adding an element anywhere (at a specific index) 

list_8 = ["Dhruv","pole","star"]

#Add numbers anywhere in the list
print("Print the List:",list_8)
list_8.insert(0,10)
print("Print the List:",list_8)
list_8.insert(2,20)
print("Print the List:",list_8)
list_8.insert(4,30)
print("Print the List:",list_8)

Print the List: ['Dhruv', 'pole', 'star']
Print the List: [10, 'Dhruv', 'pole', 'star']
Print the List: [10, 'Dhruv', 20, 'pole', 'star']
Print the List: [10, 'Dhruv', 20, 'pole', 30, 'star']

In [24]:
#@title 8.Updating (or Replacing) an element

list_9 = ["Dhruv","pole","star"]

print("Print the List:",list_9)

#Replace an element
list_9[0] = "Lucky"
print("Print the List:",list_9)
list_9[1] = "super"
print("Print the List:",list_9)

Print the List: ['Dhruv', 'pole', 'star']
Print the List: ['Lucky', 'pole', 'star']
Print the List: ['Lucky', 'super', 'star']

In [27]:
#@title 9.Looping through the list (just for READING)

list_10 = [10,20,30,40]
print("Print the List",list_10)

#loop through and print the list
for x in list_10:
  print(x)

#Sum of the numbers in the list
total_num = 0
for x in list_10:
  total_num = total_num+x

print("Print the sum numbers in the list",total_num)

Print the List [10, 20, 30, 40]
10
20
30
40
Print the sum numbers in the list 100

In [32]:
#@title 10.Looping through the list (for UPDATING)

list_11 = [10,20,30,40]
print("Print the List",list_11)

#Length of the list
list_11_len = len(list_11)

#Loop and update the elements

for x in range(list_11_len):
  current_element = list_11[x]
  list_11[x] = current_element - 5

print("Print the updated List",list_11)

Print the List [10, 20, 30, 40]
Print the updated List [5, 15, 25, 35]

In [34]:
#@title 11.Common Operations: Find the length of the list
# Find the number of elements in the list

list_12 = [10,20,30,40,50,60,70,80]
print("Print the List",list_12)

#Length of the List
list_12_len = len(list_12)
print("Print the Length of the List",list_12_len)

Print the List [10, 20, 30, 40, 50, 60, 70, 80]
Print the Length of the List 8

In [39]:
#@title 12.Common Operations: Find the maximum in the list

list_13 = [10,20,30,40,50,60,70,80]
print("Print the List",list_13)

#Max in the List
max_in_list_13=max(list_13)
print("Print the max number in the list",max_in_list_13)

Print the List [10, 20, 30, 40, 50, 60, 70, 80]
Print the max number in the list 80

In [42]:
#@title 13.Common Operations: Find the minimum in the list

list_14 = [10,20,30,40,50,60,70,80]
print("Print the List",list_14)

#Min in the List
min_in_list_14=min(list_14)
print("Print the min number in the list: ",min_in_list_14)

Print the List [10, 20, 30, 40, 50, 60, 70, 80]
Print the min number in the list:  10

In [43]:
#@title 14.Common Operations: Find the sum of elements in the list

list_15 = [10,20,30,40,50,60,70,80]
print("Print the List",list_15)

#Sum of the numbers in the list
total_num = 0
for x in list_15:
  total_num = total_num+x

print("Print the sum numbers in the list: ",total_num)

Print the List [10, 20, 30, 40, 50, 60, 70, 80]
Print the sum numbers in the list:  360

In [45]:
#@title 14.Removing an element by value

list_15 = [10,20,30,40,50,60,70,80]
print("Print the List",list_15)

#Removing the element by value
list_15.remove(40)
print("Print the new List",list_15)
list_15.remove(20)
print("Print the new List",list_15)
list_15.remove(60)
print("Print the new List",list_15)
list_15.remove(80)
print("Print the new List",list_15)

Print the List [10, 20, 30, 40, 50, 60, 70, 80]
Print the new List [10, 20, 30, 50, 60, 70, 80]
Print the new List [10, 30, 50, 60, 70, 80]
Print the new List [10, 30, 50, 70, 80]
Print the new List [10, 30, 50, 70]

In [54]:
#@title 15.Removing the last element in the list

list_16 = [10,20,30,40,50,60,70,80]
print("Print the List",list_16)

#Remove the last element
list_16.pop()
print("Print the new List",list_16)
len_list_16 = len(list_16)
list_16.pop(len_list_16 -1)
print("Print the new List",list_16)
list_16.pop()
print("Print the new List",list_16)

Print the List [10, 20, 30, 40, 50, 60, 70, 80]
Print the new List [10, 20, 30, 40, 50, 60, 70]
Print the new List [10, 20, 30, 40, 50, 60]
Print the new List [10, 20, 30, 40, 50]

In [55]:
#@title 16.Removing an element at a given index

list_17 = [10,20,30,40,50,60,70,80]
print("Print the List",list_17)

#Removing the element at a given index
len_list_17 = len(list_17)
list_17.pop(len_list_17 - 5)
print("Print the new List",list_17)
len_list_17 = len(list_17)
list_17.pop(len_list_17 - 2)
print("Print the new List",list_17)
list_17.pop(0)
print("Print the new List",list_17)
list_17.pop(1)
print("Print the new List",list_17)

Print the List [10, 20, 30, 40, 50, 60, 70, 80]
Print the new List [10, 20, 30, 50, 60, 70, 80]
Print the new List [10, 20, 30, 50, 60, 80]
Print the new List [20, 30, 50, 60, 80]
Print the new List [20, 50, 60, 80]

In [57]:
#@title 17.Extending a list
#(Adding several elements to one list)


list_18 = [10,20,30,40,50,60,70,80]
print("Print the List",list_18)

#Extending the list
list_18_1 = [90,100]
list_18.extend(list_18_1)
print("Print the extended List",list_18)

Print the List [10, 20, 30, 40, 50, 60, 70, 80]
Print the extended List [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [61]:
#@title 18.Search for an element. What is the index?


list_19 = [10,20,30,40,50,60,70,80]
print("Print the List",list_19)

#find the index
x = list_19.index(20)
print("Print the index of 20: ",x)
x = list_19.index(60)
print("Print the index of 60: ",x)

Print the List [10, 20, 30, 40, 50, 60, 70, 80]
Print the index of 20:  1
Print the index of 60:  5

In [63]:
#@title 19.Count the number of times an element is appearing

list_20 = [10,20,10,20,10,20,50,20]
print("Print the List",list_20)

x = list_20.count(20)
print("Print the number of times 20 is appearing: ",x)
x = list_20.count(10)
print("Print the number of times 10 is appearing: ",x)
x = list_20.count(50)
print("Print the number of times 50 is appearing: ",x)

Print the List [10, 20, 10, 20, 10, 20, 50, 20]
Print the number of times 20 is appearing:  4
Print the number of times 10 is appearing:  3
Print the number of times 50 is appearing:  1

In [67]:
#@title 20.Checking for Membership (in)

list_21 = [10,20,30,40,50,60,70,80]
print("Print the List",list_21)

x = (100 in list_21)
print("Checking if 100 is in the list: ",x)
x = (11 in list_21)
print("Checking if 11 is in the list: ",x)
x = (30 in list_21)
print("Checking if 30 is in the list: ",x)

Print the List [10, 20, 30, 40, 50, 60, 70, 80]
Checking if 100 is in the list:  False
Checking if 11 is in the list:  False
Checking if 30 is in the list:  True

In [71]:
#@title 21.Checking for Membership (not in)

list_22 = [10,20,30,40,50,60,70,80]
print("Print the List",list_22)

x = (110 not in list_22)
print("Checking if 110 not in the list: ",x)
x = (9 not in list_22)
print("Checking if 9 not in the list: ",x)
x = (60 not in list_22)
print("Checking if 60 not in the list: ",x)

Print the List [10, 20, 30, 40, 50, 60, 70, 80]
Checking if 110 not in the list:  True
Checking if 9 not in the list:  True
Checking if 60 not in the list:  False

In [76]:
#@title 22.Reverse a list

list_23 = [10,20,30,40,50,60,70,80]
print("Print the List",list_23)

#Reverse the list
list_23.reverse()
print("Print the reversed List",list_23)

Print the List [10, 20, 30, 40, 50, 60, 70, 80]
Print the reversed List [80, 70, 60, 50, 40, 30, 20, 10]

In [75]:
#@title 23.Sort a list

list_24 = [100,40,305,204,50,802,70,610]
print("Print the List",list_24)

#Sort the list
list_24.sort()
print("Print the sorted List",list_24)

Print the List [100, 40, 305, 204, 50, 802, 70, 610]
Print the sorted List [40, 50, 70, 100, 204, 305, 610, 802]

In [77]:
#@title 24.Copy a list (Caution: Don't reassign)


list_25 = [100,40,305,204,50,802,70,610]
print("Print the List",list_25)

#copy the list
list_25_1 = list_25.copy()
print("Print the copied List",list_25_1)

Print the List [100, 40, 305, 204, 50, 802, 70, 610]
Print the copied List [100, 40, 305, 204, 50, 802, 70, 610]

In [89]:
#@title 25.Clear (Empty) a list
#Delete all the elements in the list

list_26 = [100,40,305,204,50,802,70,610]
print("Print the List",list_26)

#Empty the list
list_26.clear()
print("Print the emptied List", list_26)

Print the List [100, 40, 305, 204, 50, 802, 70, 610]
Print the emptied List []

In [88]:
#@title 26.Delete the entire list

list_27 = [100,40,305,204,50,802,70,610]
print("Print the List",list_27)

#del the list

if(list_27):
  print("List exists so deleting it")
  del(list_27)
  print("List is Deleted")
else:
  print("List does not exist, It is already deleted")

Print the List [100, 40, 305, 204, 50, 802, 70, 610]
List exists so deleting it
List is Deleted

In [ ]:
#@title 27.Cool Operation: You can add lists

In [ ]:
#@title 28.Cool Operation: You can multiply/repeat a list

In [ ]:
#@title 29.Cool Operation: You can convert a range to a list

In [ ]:
#@title 30.Common Operations: Find the length (Using Built-in Function)

In [ ]:
#@title 31.Common Operations: Find the maximum in the list (Using Built-in Function)

In [ ]:
#@title 32.Common Operations: Find the minimum in the list (Using Built-in Function)

In [ ]:
#@title 33.Common Operations: Find the sum of elements in the list (Using Built-in Function)

In [ ]:
#@title 34.Common Operations: Find the average of elements in the list (Using Built-in Function)

In [ ]:
#@title 35.Common Operations: Find whether the list has any duplicate elements

In [ ]:
#@title 36.Common Operations: Multiply / Divide / Do something to every element in the list

In [ ]:
#@title 37.List Unpacking (N to <N mapping)

In [ ]:
#@title 38.List Unpacking (N to <N mapping)

In [ ]:
#@title 39.Printing a List (*)

In [ ]:
#@title 40.List Slicing

In [ ]:
#@title 41.List Comprehension

In [ ]:
#@title 42.Two Dimenstional Lists  (List of Lists)

In [ ]:
#@title 43.Zipping two or three lists

In [ ]:
#@title 44.Applying a map funciton on the lists